<!DOCTYPE html>
<html>
<head>
  <title>Challenge 3 – Instructions</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div class="container">
    <h2>Challenge 3 – Instructions</h2>
    <p>To complete challenge 3, you need to write a JavaScript function that converts from a binary string back to its ASCII equivalent.</p>

    <p>Post your script to <code>/challenge3</code></p>

    <h2>Example</h2>
    <pre>var main = function(input) {
  return '';
};</pre>
  </div>
</body>
</html>
