<!DOCTYPE html>
<html>
<head>
  <title>Challenge 5 – Instructions</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div class="container">
    <h2>Challenge 5 – Instructions</h2>
    <p>To complete challenge 5, you must write a JavaScript function that implements <a href="http://c2.com/cgi/wiki?FizzBuzzTest" target="_blank">FizzBuzz</a>.</p>
    <p>Your function will be called with an array of random numbers. You must return a comma-separated string with the appropriate <i>Fizz/Buzz/FizzBuzz/[number]</i> for each number in the array.</p>

    <p>Post your script to <code>/challenge5</code></p>

    <h2>Example</h2>
    <pre>var main = function(numbers) {
  // numbers is an array
  // iterate through numbers and produce the correct comma-separated string
  return '';
};</pre>
  </div>
</body>
</html>
