<!DOCTYPE html>
<html>
<head>
  <title>Final Challenge – Instructions</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div class="container">
    <h2>Final Challenge – Instructions</h2>

    {{^teamExists}}
      <p>
        Your team <code>id</code> is invalid.
      </p>
    {{/teamExists}}

    {{#wrongStage}}
      <p>
        Your must complete challenge 7 first.
      </p>
    {{/wrongStage}}

    {{#showInstructions}}
      <p>Welcome to the final challenge.</p>

      <p>
        A 4-digit key (0-9999) has been generated and assigned to your team.
        <b>{{teamWithYourKey}}</b> knows what your key is. <b>{{teamWithYourKey}}</b>
        can give you this key if they wish. Otherwise, you must crack it.
      </p>

      <p>
        To try a key you must make a POST request to <code>/finish</code> with your team <code>id</code>
        and the <code>key</code> you wish to try. Beware: this endpoint will only allow 100 requests per
        minute, meaning it could take over 1.5 hours (worst case) by simply guessing.
      </p>

      <p>
        Meanwhile, to make your job easier, you may write a JavaScript function to play <i>Higher or Lower</i> in order
        to narrow down the set of possibilities. You must POST scripts to <code>/final-challenge</code>.
      </p>

      <h2>Example</h2>

      <pre>var main = function() {
  // the global higherOrLower function allows you to
  // ask if your guess ought to be higher or lower
  var answer = higherOrLower(5000);
  console.log(answer);

  // your script is not expected to return anything
};</pre>
    {{/showInstructions}}
  </div>
</body>
</html>
