<!DOCTYPE html>
<html>
<head>
  <title>Challenge 4</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div id="no-local">
    Your browser does not support localStorage – get another one
  </div>

  <div class="container">
    <h2>Challenge 4 – Instructions</h2>

    <p>
      So, I've been playing around in your <a href="http://www.w3schools.com/html/html5_webstorage.asp" target="_blank">localStorage</a>.
    </p>

    <p>I've left a little bit of a mess...</p>

    <p>
      Each entry contains a single (stringified) JavaScript object. Each object has three keys with
      numeric values. Find the object whose three numeric values add up to 15000.
    </p>

    <p>
      The next URL is the concatenation of the three keys of the correct object, ordered from highest
      to lowest. POST your team <code>id</code> to this URL to continue.
    <p>

    <p class="hint">
      Hint: open dev tools and look at resources to see what I mean.
    </p>
  </div>

  <script type="text/javascript" src="/challenge4-script"></script>
</body>
</html>
