<!DOCTYPE html>
<html>
<head>
  <title>Challenge 3 – Instructions</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div class="container">
    <h2>Challenge 3 – Instructions</h2>

    <p>
      To complete challenge 3, you need to write a JavaScript function that converts from a
      binary string back to its ASCII equivalent.
    </p>

    <p>
      Your <code>main</code> function will be called with a string containing sets of 8-byte binary blocks,
      separated by spaces. Return the appropriate ASCII version of the string.
    </p>

    <p>Post your script to <code>/challenge3</code></p>

    <h2>Example</h2>
    <pre>var main = function(binaryString) {
  return '';
};</pre>
  </div>
</body>
</html>
