<!DOCTYPE html>
<html>
<head>
  <title>Saboteur Instructions</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/app.css"></link>
</head>
<body>
  <div class="container">
    <h2>Saboteur Instructions</h2>

    <p>
      Find a value for <code>a</code> and <code>b</code> that results in the expression below evaluating to
      <code>true</code>. To become the saboteur, <code>POST</code> to the URL comprised of the correct
      value of <code>a</code> concatenated with the correct value of <code>b</code>.
    </p>

    <pre>(a === b) && ((1/a) < (1/b))</pre>
  </div>
</body>
</html>
