body {
  font-size: 27px;
  font-family: 'Helvetica Neue', Arial;
  color: #444;
}

.modal-backdrop {
  background-color: #bbb;
}

.container {
  margin: 20px auto;
  width: 1200px;
}

.team-container {
  float: left;
  width: 600px;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 0 0 40px 0;
  color: #555;
}

h2 {
  margin: 20px 0;
}

p {
  line-height: 35px;
  padding: 10px 0;
}

pre {
  font-size: 16px;
}

code {
  font-size: 16px;
}

.faded {
  opacity: 0.4;
}

.team-name {
  padding: 15px 0;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #555;
}

.stages {
  margin-bottom: 30px;
  padding-bottom: 10px;
  overflow: hidden;
}

.stages .gravatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px #fff;
}

.stages .unverified {
  padding: 5px 10px;
  float: left;
}

.stages .number {
  float: left;
  padding: 10px 17px;
  margin: 7px 0;
  text-shadow: 1px 1px #fff;
  color: #bbb;
  font-size: 40px;
}

.stages .stage {
  float: left;
  width: 55px;
  height: 55px;
  background: #f7f7f7;
  margin: 0 10px 0 0;
  padding: 5px;
  border-radius: 50%;
  border: solid 1px #ddd;
}

.modal {
  padding: 20px;
}

.modal h3 {
  font-size: 40px;
  padding: 10px 0;
}

.modal h4 {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 35px;
  font-weight: 400;
  width: 400px;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team {
  position: relative;
}

.team .validation-time {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 70px;
  color: #ff0000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.complete {
  font-size: 150px;
  position: absolute;
  left: 32.5%;
  top: 5%;
}

.complete-gold {
  color: gold;
}

.complete-silver {
  color: silver;
}

.complete-bronze {
  color: #cd7f32;
}

.complete-white {
  color: #eee;
}

.complete .place {
  position: absolute;
  top: 25px;
  left: 40px;
  color: #000;
  opacity: 1;
  width: 60px;
  text-align: center;
  font-size: 35px;
  font-family: Helvetica;
}

.saboteur-icon {
  color: gold;
}

.sabotaged {
  color: #444;
  font-size: 90px;
  top: 34%;
  left: 37.5%;
  color: #ff1111;
}

.sabotaged-name {
  color: #ff0000;
}

.no-teams {
  font-size: 50px;
  font-weight: 400;
  color: #888;
}

.hint {
  color: #888;
  margin-top: -25px;
}

#no-local {
  position: absolute;
  opacity: 0.95;
  top: 5%;
  left: 5%;
  right: 5%;
  color: #cc3333;
  background: #ffaaaa;
  border: solid 1px #dd6666;
  padding: 30px 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  display: none;
}
